@import "../css/bootstrap.min.css";
.social-link-list a, .nav-list a {
  transition: all 0.3s;
}

.social-link-list a, .nav-list a {
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: #1d1f2e;
  font-size: 13px;
}
.social-link-list a:hover, .nav-list a:hover {
  color: #ffffff;
  background-color: #050827;
}

@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla Regular.eot");
  src: url("../fonts/Karla Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Karla Regular.woff2") format("woff2"), url("../fonts/Karla Regular.woff") format("woff"), url("../fonts/Karla Regular.ttf") format("truetype"), url("../fonts/Karla Regular.svg#Karla Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}
body {
  font-family: "Karla", Verdana, Tahoma, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 47px;
  line-height: 60px;
  color: #ffffff;
}

.h2 {
  font-size: 28px;
  line-height: 40px;
  color: #1d1f2e;
}

.h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
  font-size: 13px;
  text-transform: uppercase;
  color: #1d1f2e;
  line-height: 18px;
  letter-spacing: 2px;
}
.h3::after, .h3::before {
  content: "";
  display: inline-block;
  height: 1px;
  background-color: #ececed;
  width: 30px;
}
.h3::after {
  margin: 0 0 3px 15px;
}
.h3::before {
  margin: 0 15px 3px 0;
}
@media (max-width: 767px) {
  .h3 {
    margin-bottom: 35px;
  }
}
@media (max-width: 576px) {
  .h3::after {
    margin: 0 0 3px 3px;
  }
  .h3::before {
    margin: 0 3px 3px 0;
  }
}

.h4 {
  color: #1d1f2e;
  padding-top: 35px;
  font-size: 20px;
  line-height: 30px;
}
@media (max-width: 767px) {
  .h4 {
    padding-top: 10px;
  }
}

p {
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
}

.button {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1f2e;
  background-color: #ffffff;
  border: none;
  outline: none;
  box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
  transition: all 0.3s;
  border: 1px solid transparent;
}
.button:hover, .button:focus, .button:focus-visible {
  background-color: rgba(5, 8, 39, 0.7333333333);
  color: #ffffff;
  border: 1px solid #a25f4b;
}
.button:active {
  color: #a25f4b;
  background-color: #ffffff;
}

.cost {
  color: rgba(29, 31, 46, 0.7);
  font-size: 16px;
  line-height: 28px;
}

.new-cost {
  font-size: 19px;
  line-height: 32px;
  color: #a25f4b;
}

.strikethrough {
  text-decoration: line-through;
  color: rgba(29, 31, 46, 0.4);
}

section {
  padding: 50px 0 50px 0;
}
@media (max-width: 767px) {
  section {
    padding: 25px 0 25px 0;
  }
}

.header {
  padding-top: 28px;
  padding-bottom: 28px;
}

.cart {
  display: flex;
  max-width: 92px;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .header .hamburger {
    display: block;
    position: relative;
    z-index: 4;
  }
}

@media (max-width: 992px) {
  .navigation-header {
    text-align: center;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -500px;
    left: 0;
    background: #ffffff;
    padding: 100px 20px 0px 20px;
    width: 150%;
    height: 380px;
    transition: 0.3s;
    justify-content: center;
    align-items: end;
  }
  .navigation-header a {
    font-size: 23px;
    color: #050827;
  }
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-list-header {
  gap: 30px;
}
@media (max-width: 992px) {
  .nav-list-header {
    flex-direction: column;
    gap: 10px;
  }
}

.nav-list-footer {
  flex-direction: column;
}
.nav-list-footer a {
  color: rgba(29, 31, 46, 0.7);
}

.hamburger__bottom,
.hamburger__top,
.hamburger::after,
.hamburger::before {
  display: inline-block;
  content: "";
  background: #050827;
  height: 2px;
  width: 100%;
  position: absolute;
}

.hamburger {
  display: none;
  position: relative;
  top: -3px;
  width: 40px;
  height: 26px;
  border: none;
  background-color: #ffffff;
  transition: 0.2s;
}

.hamburger::before {
  top: 0;
  left: 0;
  transition: 0.2s;
}

.hamburger::after {
  bottom: 0;
  left: 0;
  transition: 0.2s;
}

.hamburger__top {
  top: calc(25% + 2px);
  left: 0;
  transition: 0.2s;
}

.hamburger__bottom {
  bottom: calc(25% + 1px);
  left: 0;
  transition: 0.2s;
}

.hamburger__top {
  transition: 0.3s linear;
  top: calc(25% + 2px);
  left: 0;
}

.hamburger__bottom {
  transition: 0.3s linear;
  bottom: calc(25% + 1px);
  left: 0;
}

.header.open .hamburger {
  background-color: #ffffff;
}

.header.open .hamburger__top {
  transform: rotate(-45deg);
  top: 50%;
  opacity: 0;
}

.header.open .hamburger__bottom {
  transform: rotate(45deg);
  top: 50%;
  opacity: 0;
}

.header.open .hamburger::before {
  transform: rotate(45deg);
  top: 50%;
}

.header.open .hamburger::after {
  transform: rotate(-45deg);
  top: 50%;
}

.header.open .navigation-header {
  transform: translateY(500px);
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}

.welcome {
  padding: 0;
  min-height: 530px;
  background-color: #050827;
  color: #ffffff;
  background-image: url("../img/banners/banner-top.jpeg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 1000px;
}
.welcome p {
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
}
.welcome__subtitle {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .welcome {
    min-height: 430px;
    background-size: 900px;
  }
}

.introduce {
  padding-top: 123px;
}
@media (max-width: 767px) {
  .introduce {
    padding-top: 50px;
  }
}

.introduce__link {
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  border-bottom: 2px solid #a25f4b;
  color: #a25f4b;
  transition: all 0.3s;
}
.introduce__link:hover {
  color: #050827;
  border-bottom: 2px solid #050827;
}
.introduce__link:active {
  color: #a25f4b;
  border-bottom: 2px solid #a25f4b;
}

@media (max-width: 767px) {
  .more-products {
    padding-bottom: 0;
  }
}

.magazine-free {
  padding-bottom: 130px;
}
@media (max-width: 767px) {
  .magazine-free {
    padding-top: 0;
    padding-bottom: 75px;
  }
}

.magazine-free__text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 80px;
}
@media (max-width: 992px) {
  .magazine-free__text {
    align-items: center;
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .magazine-free__text {
    padding-left: 80px;
    padding-left: 15px;
    align-items: center;
  }
}

.magazine-free__subtitle {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1f2e;
}

.magazine-free__title {
  font-size: 36px;
  line-height: 50px;
  color: #1d1f2e;
}
@media (max-width: 991px) {
  .magazine-free__title {
    font-size: 26px;
  }
}

.magazine-free__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 173px;
  height: 36px;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s;
  text-decoration: none;
  background-color: #1d1f2e;
  color: #ffffff;
  border: 1px solid #1d1f2e;
}
.magazine-free__link:hover {
  background-color: #ffffff;
  color: #1d1f2e;
}
.magazine-free__link:active {
  background-color: #1d1f2e;
  color: #ffffff;
}

.banner-down {
  min-height: 340px;
  background-image: url("../img/banners/banner-down.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  .banner-down {
    min-height: 200px;
  }
}
@media (max-width: 767px) {
  .banner-down {
    min-height: 150px;
  }
}

.lifestyle {
  padding-top: 100px;
  padding-bottom: 152px;
}
@media (max-width: 767px) {
  .lifestyle {
    padding: 75px 0 25px 0;
  }
}

.lifestyle__title {
  display: block;
  margin-bottom: 10px;
  padding-top: 28px;
  font-size: 20px;
  line-height: 32px;
  color: #1d1f2e;
}
@media (max-width: 991px) {
  .lifestyle__title {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .lifestyle__title {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 5px;
  }
}

.lifestyle__description {
  display: block;
  font-size: 16px;
  margin-bottom: 16px;
}
@media (max-width: 991px) {
  .lifestyle__description {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

.lifestyle__date {
  display: block;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1f2e;
}

.subscribe {
  padding: 0;
  min-height: 327px;
  background-color: #050827;
  color: #ffffff;
}
.subscribe .h3 {
  color: #ffffff;
  margin-bottom: 15px;
}
.subscribe .h3::after, .subscribe .h3::before {
  background-color: rgba(210, 210, 213, 0.1);
}
.subscribe__subtitle {
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 50px;
  color: #ffffff;
}
.subscribe__form {
  height: 54px;
}
@media (max-width: 767px) {
  .subscribe__form {
    height: 115px;
  }
}
.subscribe__input {
  font-size: 18px;
  color: #ffffff;
  background-color: #050827;
  text-align: center;
  border: 1px solid #2f303e;
  outline: none;
}
.subscribe__input::-moz-placeholder {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.2901960784);
}
.subscribe__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.2901960784);
}
.subscribe__input::placeholder {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.2901960784);
}
.subscribe__input:focus, .subscribe__input:focus-visible {
  border: 1px solid #a25f4b;
}
.subscribe__input:focus::-moz-placeholder, .subscribe__input:focus-visible::-moz-placeholder {
  color: transparent;
}
.subscribe__input:focus:-ms-input-placeholder, .subscribe__input:focus-visible:-ms-input-placeholder {
  color: transparent;
}
.subscribe__input:focus::placeholder, .subscribe__input:focus-visible::placeholder {
  color: transparent;
}

.social-link-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-link-list a {
  color: rgba(29, 31, 46, 0.7);
}

.footer {
  padding: 100px 0 48px 0;
}
@media (max-width: 767px) {
  .footer {
    padding: 50px 0 25px 0;
  }
}

.footer-mini-title {
  display: block;
  margin-bottom: 22px;
  padding: 5px 10px 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: #1d1f2e;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .footer-mini-title {
    margin-bottom: 10px;
  }
}

.logo-footer {
  max-width: 111px;
  margin-bottom: 22px;
}
@media (max-width: 767px) {
  .logo-footer {
    margin-bottom: 10px;
  }
}

.add-info {
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.3);
}

.footer-link {
  display: block;
  font-size: 23px;
  line-height: 36px;
  color: #1d1f2e;
  text-decoration: none;
  transition: all 0.3s;
}
.footer-link:hover, .footer-link:focus {
  color: #a25f4b;
}

@media (min-width: 1440px) {
  .container {
    max-width: 940px;
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsIi4uL3Nhc3MvYWJzdHJhY3RzL19wbGFjZWhvbGRlcnMuc2NzcyIsIi4uL3Nhc3Mvc3R5bGUuY3NzIiwiLi4vc2Fzcy9hYnN0cmFjdHMvX2NvbnN0YW50cy5zY3NzIiwiLi4vc2Fzcy9iYXNlL19mb250cy5zY3NzIiwiLi4vc2Fzcy9iYXNlL19iYXNlLnNjc3MiLCIuLi9zYXNzL2NvbXBvbmVudHMvX2hlYWRlci5zY3NzIiwiLi4vc2Fzcy9jb21wb25lbnRzL19uYXZpZ2F0aW9uLnNjc3MiLCIuLi9zYXNzL2NvbXBvbmVudHMvX3dlbGNvbWUuc2NzcyIsIi4uL3Nhc3MvY29tcG9uZW50cy9faW50cm9kdWNlLnNjc3MiLCIuLi9zYXNzL2NvbXBvbmVudHMvX21vcmUtcHJvZHVjdHMuc2NzcyIsIi4uL3Nhc3MvY29tcG9uZW50cy9fbWFnYXppbmUtZnJlZS5zY3NzIiwiLi4vc2Fzcy9jb21wb25lbnRzL19pbWctYmFubmVyLWRvd24uc2NzcyIsIi4uL3Nhc3MvY29tcG9uZW50cy9fbGlmZXN0eWxlLnNjc3MiLCIuLi9zYXNzL2NvbXBvbmVudHMvX3N1YnNjcmliZS5zY3NzIiwiLi4vc2Fzcy9jb21wb25lbnRzL19saW5rLWxpc3Quc2NzcyIsIi4uL3Nhc3MvY29tcG9uZW50cy9fZm9vdGVyLnNjc3MiLCIuLi9zYXNzL2NvbXBvbmVudHMvX2NvbnRhaW5lcnMuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFDUSxrQ0FBQTtBQ0RSO0VBQ0Usb0JBQUE7QUNFRjs7QURDQTtFQUNFLDBCQUFBO0VBQ0EscUJBQUE7RUFDQSxjRUxnQjtFRk1oQixlQUFBO0FDRUY7QURBRTtFQUNFLGNFVmU7RUZXZix5QkVaUztBRGNiOztBRWRBO0VBQ0Usb0JBQUE7RUFDQSxzQ0FBQTtFQUNBLHNTQUFBO0VBR0EsZ0JBQUE7RUFDQSxrQkFBQTtFQUNBLG9CQUFBO0VBQ0EsMEJBQUE7QUZlRjtBR3hCQTtFQUNFLGlEQUFBO0VBQ0EsZ0JBQUE7QUgwQkY7O0FHeEJBO0VBQ0UsZUFBQTtFQUNBLGlCQUFBO0VBQ0EsY0ZOaUI7QURpQ25COztBR3hCQTtFQUNFLGVBQUE7RUFDQSxpQkFBQTtFQUNBLGNGWGdCO0FEc0NsQjs7QUd4QkE7RUFDRSxhQUFBO0VBQ0EsdUJBQUE7RUFDQSxtQkFBQTtFQUNBLGtCQUFBO0VBQ0Esb0JBQUE7RUFDQSxlQUFBO0VBQ0EseUJBQUE7RUFDQSxjRnRCZ0I7RUV1QmhCLGlCQUFBO0VBQ0EsbUJBQUE7QUgyQkY7QUcxQkU7RUFFRSxXQUFBO0VBQ0EscUJBQUE7RUFDQSxXQUFBO0VBQ0EseUJBQUE7RUFDQSxXQUFBO0FIMkJKO0FHekJFO0VBQ0Usb0JBQUE7QUgyQko7QUd6QkU7RUFDRSxvQkFBQTtBSDJCSjtBR3pCRTtFQXpCRjtJQTBCSSxtQkFBQTtFSDRCRjtBQUNGO0FHM0JFO0VBQ0U7SUFDRSxtQkFBQTtFSDZCSjtFRzNCRTtJQUNFLG1CQUFBO0VINkJKO0FBQ0Y7O0FHekJBO0VBQ0UsY0ZyRGdCO0VFc0RoQixpQkFBQTtFQUNBLGVBQUE7RUFDQSxpQkFBQTtBSDRCRjtBRzNCRTtFQUxGO0lBTUksaUJBQUE7RUg4QkY7QUFDRjs7QUczQkE7RUFDRSxlQUFBO0VBQ0EsaUJBQUE7RUFDQSw0QkZoRXFCO0FEOEZ2Qjs7QUczQkE7RUFDRSxlQUFBO0VBQ0EsYUFBQTtFQUNBLHVCQUFBO0VBQ0EsbUJBQUE7RUFDQSxrQkFBQTtFQUNBLG1CQUFBO0VBQ0EseUJBQUE7RUFDQSxjRjVFZ0I7RUU2RWhCLHlCQUFBO0VBQ0EsWUFBQTtFQUNBLGFBQUE7RUFDQSw2Q0FBQTtFQUNBLG9CQUFBO0VBQ0EsNkJBQUE7QUg4QkY7QUc3QkU7RUFHRSw4Q0FBQTtFQUNBLGNGeEZlO0VFeUZmLHlCQUFBO0FINkJKO0FHM0JFO0VBQ0UsY0Z6RmtCO0VFMEZsQix5QkFBQTtBSDZCSjs7QUd6QkE7RUFDRSw0QkZoR3FCO0VFaUdyQixlQUFBO0VBQ0EsaUJBQUE7QUg0QkY7O0FHekJBO0VBQ0UsZUFBQTtFQUNBLGlCQUFBO0VBQ0EsY0Z2R29CO0FEbUl0Qjs7QUd6QkE7RUFDRSw2QkFBQTtFQUNBLDRCRjNHd0I7QUR1STFCOztBR3pCQTtFQUNFLHNCQUFBO0FINEJGO0FHM0JFO0VBRkY7SUFHSSxzQkFBQTtFSDhCRjtBQUNGOztBSXJKQTtFQUNFLGlCQUFBO0VBQ0Esb0JBQUE7QUp3SkY7O0FJdEpBO0VBQ0UsYUFBQTtFQUNBLGVBQUE7RUFDQSw4QkFBQTtBSnlKRjs7QUsvSkU7RUFDRTtJQUNFLGNBQUE7SUFDQSxrQkFBQTtJQUNBLFVBQUE7RUxrS0o7QUFDRjs7QUs3SkU7RUFERjtJQUVJLGtCQUFBO0lBQ0EsVUFBQTtJQUNBLGtCQUFBO0lBQ0EsVUFBQTtJQUNBLGtCQUFBO0lBQ0EsV0FBQTtJQUNBLE9BQUE7SUFDQSxtQkFBQTtJQUNBLDRCQUFBO0lBQ0EsV0FBQTtJQUNBLGFBQUE7SUFDQSxnQkFBQTtJQUNBLHVCQUFBO0lBQ0EsZ0JBQUE7RUxpS0Y7RUtoS0U7SUFDRSxlQUFBO0lBQ0EsY0o1Qk87RUQ4TFg7QUFDRjs7QUs5SkE7RUFDRSxhQUFBO0VBQ0EsZ0JBQUE7RUFDQSxTQUFBO0VBQ0EsVUFBQTtBTGlLRjtBSzNKQTtFQUNFLFNBQUE7QUw2SkY7QUs1SkU7RUFGRjtJQUdJLHNCQUFBO0lBQ0EsU0FBQTtFTCtKRjtBQUNGOztBSzVKQTtFQUNFLHNCQUFBO0FMK0pGO0FLOUpFO0VBQ0UsNEJKbkRtQjtBRG1OdkI7O0FLNUpBOzs7O0VBSUUscUJBQUE7RUFDQSxXQUFBO0VBQ0EsbUJKaEVXO0VJaUVYLFdBQUE7RUFDQSxXQUFBO0VBQ0Esa0JBQUE7QUwrSkY7O0FLNUpBO0VBQ0UsYUFBQTtFQUNBLGtCQUFBO0VBQ0EsU0FBQTtFQUNBLFdBQUE7RUFDQSxZQUFBO0VBQ0EsWUFBQTtFQUNBLHlCSjVFaUI7RUk2RWpCLGdCQUFBO0FMK0pGOztBSzVKQTtFQUNFLE1BQUE7RUFDQSxPQUFBO0VBQ0EsZ0JBQUE7QUwrSkY7O0FLN0pBO0VBQ0UsU0FBQTtFQUNBLE9BQUE7RUFDQSxnQkFBQTtBTGdLRjs7QUs3SkE7RUFDRSxvQkFBQTtFQUNBLE9BQUE7RUFDQSxnQkFBQTtBTGdLRjs7QUs3SkE7RUFDRSx1QkFBQTtFQUNBLE9BQUE7RUFDQSxnQkFBQTtBTGdLRjs7QUs3SkE7RUFDRSx1QkFBQTtFQUNBLG9CQUFBO0VBQ0EsT0FBQTtBTGdLRjs7QUs3SkE7RUFDRSx1QkFBQTtFQUNBLHVCQUFBO0VBQ0EsT0FBQTtBTGdLRjs7QUs3SkE7RUFDRSx5QkpwSGlCO0FEb1JuQjs7QUs3SkE7RUFDRSx5QkFBQTtFQUNBLFFBQUE7RUFDQSxVQUFBO0FMZ0tGOztBSzlKQTtFQUNFLHdCQUFBO0VBQ0EsUUFBQTtFQUNBLFVBQUE7QUxpS0Y7O0FLOUpBO0VBQ0Usd0JBQUE7RUFDQSxRQUFBO0FMaUtGOztBSy9KQTtFQUNFLHlCQUFBO0VBQ0EsUUFBQTtBTGtLRjs7QUsvSkE7RUFDRSw0QkFBQTtFQUNBLG1CQUFBO0VBQ0EsVUFBQTtFQUNBLGdCQUFBO0FMa0tGOztBTWxUQTtFQUNFLFVBQUE7RUFDQSxpQkFBQTtFQUNBLHlCTEhXO0VLSVgsY0xIaUI7RUtJakIsdURBQUE7RUFDQSwyQkFBQTtFQUNBLDRCQUFBO0VBQ0EsdUJBQUE7QU5xVEY7QU1wVEU7RUFDRSxlQUFBO0VBQ0EsaUJBQUE7RUFDQSxjTFhlO0FEaVVuQjtBTXBURTtFQUNFLGVBQUE7RUFDQSxpQkFBQTtFQUNBLG1CQUFBO0VBQ0EseUJBQUE7QU5zVEo7QU1wVEU7RUFwQkY7SUFxQkksaUJBQUE7SUFDQSxzQkFBQTtFTnVURjtBQUNGOztBTzlVQTtFQUNFLGtCQUFBO0FQaVZGO0FPaFZFO0VBRkY7SUFHSSxpQkFBQTtFUG1WRjtBQUNGOztBT2hWQTtFQUNFLHFCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxlQUFBO0VBQ0EsaUJBQUE7RUFDQSxrQkFBQTtFQUNBLHFCQUFBO0VBQ0EsZ0NBQUE7RUFDQSxjTlhvQjtFTVlwQixvQkFBQTtBUG1WRjtBT2xWRTtFQUNFLGNObEJTO0VNbUJULGdDQUFBO0FQb1ZKO0FPbFZFO0VBQ0UsY05sQmtCO0VNbUJsQixnQ0FBQTtBUG9WSjs7QVExV0U7RUFERjtJQUVJLGlCQUFBO0VSOFdGO0FBQ0Y7O0FTalhBO0VBQ0UscUJBQUE7QVRvWEY7QVNuWEU7RUFGRjtJQUdJLGNBQUE7SUFDQSxvQkFBQTtFVHNYRjtBQUNGOztBU25YQTtFQUNFLGFBQUE7RUFDQSw4QkFBQTtFQUNBLHNCQUFBO0VBQ0Esa0JBQUE7QVRzWEY7QVNyWEU7RUFMRjtJQU1JLG1CQUFBO0lBQ0Esb0JBQUE7RVR3WEY7QUFDRjtBU3ZYRTtFQVRGO0lBVUksa0JBQUE7SUFDQSxrQkFBQTtJQUNBLG1CQUFBO0VUMFhGO0FBQ0Y7O0FTdlhBO0VBQ0UsZUFBQTtFQUNBLGlCQUFBO0VBQ0EsbUJBQUE7RUFDQSx5QkFBQTtFQUNBLGNSM0JnQjtBRHFabEI7O0FTdlhBO0VBQ0UsZUFBQTtFQUNBLGlCQUFBO0VBQ0EsY1JqQ2dCO0FEMlpsQjtBU3pYRTtFQUpGO0lBS0ksZUFBQTtFVDRYRjtBQUNGOztBU3pYQTtFQUNFLGFBQUE7RUFDQSx1QkFBQTtFQUNBLG1CQUFBO0VBQ0EsWUFBQTtFQUNBLFlBQUE7RUFDQSxtQkFBQTtFQUNBLGdCQUFBO0VBQ0EsZUFBQTtFQUNBLGlCQUFBO0VBQ0EseUJBQUE7RUFDQSxrQkFBQTtFQUNBLG9CQUFBO0VBQ0EscUJBQUE7RUFDQSx5QlJyRGdCO0VRc0RoQixjUnZEaUI7RVF3RGpCLHlCQUFBO0FUNFhGO0FTM1hFO0VBQ0UseUJSMURlO0VRMkRmLGNSMURjO0FEdWJsQjtBUzNYRTtFQUNFLHlCUjdEYztFUThEZCxjUi9EZTtBRDRibkI7O0FVN2JBO0VBQ0UsaUJBQUE7RUFDQSx3REFBQTtFQUNBLHNCQUFBO0VBQ0EsMkJBQUE7RUFDQSw0QkFBQTtBVmdjRjtBVS9iRTtFQU5GO0lBT0ksaUJBQUE7RVZrY0Y7QUFDRjtBVWpjRTtFQVRGO0lBVUksaUJBQUE7RVZvY0Y7QUFDRjs7QVcvY0E7RUFDRSxrQkFBQTtFQUNBLHFCQUFBO0FYa2RGO0FXamRFO0VBSEY7SUFJSSxzQkFBQTtFWG9kRjtBQUNGOztBV2pkQTtFQUNFLGNBQUE7RUFDQSxtQkFBQTtFQUNBLGlCQUFBO0VBQ0EsZUFBQTtFQUNBLGlCQUFBO0VBQ0EsY1ZaZ0I7QURnZWxCO0FXbmRFO0VBUEY7SUFRSSxlQUFBO0VYc2RGO0FBQ0Y7QVdyZEU7RUFWRjtJQVdJLGlCQUFBO0lBQ0Esa0JBQUE7SUFDQSxrQkFBQTtFWHdkRjtBQUNGOztBV3JkQTtFQUNFLGNBQUE7RUFDQSxlQUFBO0VBQ0EsbUJBQUE7QVh3ZEY7QVd2ZEU7RUFKRjtJQUtJLGVBQUE7SUFDQSxrQkFBQTtFWDBkRjtBQUNGOztBV3ZkQTtFQUNFLGNBQUE7RUFDQSxlQUFBO0VBQ0EsaUJBQUE7RUFDQSxtQkFBQTtFQUNBLHlCQUFBO0VBQ0EsY1Z2Q2dCO0FEaWdCbEI7O0FZbmdCQTtFQUNFLFVBQUE7RUFDQSxpQkFBQTtFQUNBLHlCWEhXO0VXSVgsY1hIaUI7QUR5Z0JuQjtBWXJnQkU7RUFDRSxjWExlO0VXTWYsbUJBQUE7QVp1Z0JKO0FZdGdCSTtFQUVFLDBDQUFBO0FadWdCTjtBWXBnQkU7RUFDRSxtQkFBQTtFQUNBLGVBQUE7RUFDQSxpQkFBQTtFQUNBLGNYaEJlO0FEc2hCbkI7QVlwZ0JFO0VBQ0UsWUFBQTtBWnNnQko7QVlyZ0JJO0VBRkY7SUFHSSxhQUFBO0Vad2dCSjtBQUNGO0FZdGdCRTtFQUNFLGVBQUE7RUFDQSxjWDFCZTtFVzJCZix5Qlg1QlM7RVc2QlQsa0JBQUE7RUFDQSx5QkFBQTtFQUNBLGFBQUE7QVp3Z0JKO0FZdmdCSTtFQUNFLGVBQUE7RUFDQSxpQkFBQTtFQUNBLG1CQUFBO0VBQ0EseUJBQUE7RUFDQSx3Q0FBQTtBWnlnQk47QVk5Z0JJO0VBQ0UsZUFBQTtFQUNBLGlCQUFBO0VBQ0EsbUJBQUE7RUFDQSx5QkFBQTtFQUNBLHdDQUFBO0FaeWdCTjtBWTlnQkk7RUFDRSxlQUFBO0VBQ0EsaUJBQUE7RUFDQSxtQkFBQTtFQUNBLHlCQUFBO0VBQ0Esd0NBQUE7QVp5Z0JOO0FZdmdCSTtFQUVFLHlCQUFBO0Fad2dCTjtBWXZnQk07RUFDRSxrQkFBQTtBWnlnQlI7QVkxZ0JNO0VBQ0Usa0JBQUE7QVp5Z0JSO0FZMWdCTTtFQUNFLGtCQUFBO0FaeWdCUjs7QWFwakJBO0VBQ0UsZ0JBQUE7RUFDQSxVQUFBO0VBQ0EsU0FBQTtBYnVqQkY7QWF0akJFO0VBRUUsNEJaSG1CO0FEMGpCdkI7O0FjN2pCQTtFQUNFLHVCQUFBO0FkZ2tCRjtBYy9qQkU7RUFGRjtJQUdJLHNCQUFBO0Vka2tCRjtBQUNGOztBYy9qQkE7RUFDRSxjQUFBO0VBQ0EsbUJBQUE7RUFDQSwwQkFBQTtFQUNBLHlCQUFBO0VBQ0EsZUFBQTtFQUNBLGlCQUFBO0VBQ0EsY2JaZ0I7RWFhaEIsbUJBQUE7QWRra0JGO0FjamtCRTtFQVRGO0lBVUksbUJBQUE7RWRva0JGO0FBQ0Y7O0FjamtCQTtFQUNFLGdCQUFBO0VBQ0EsbUJBQUE7QWRva0JGO0FjbmtCRTtFQUhGO0lBSUksbUJBQUE7RWRza0JGO0FBQ0Y7O0FjbmtCQTtFQUNFLGVBQUE7RUFDQSxpQkFBQTtFQUNBLDRCQUFBO0Fkc2tCRjs7QWNua0JBO0VBQ0UsY0FBQTtFQUNBLGVBQUE7RUFDQSxpQkFBQTtFQUNBLGNickNnQjtFYXNDaEIscUJBQUE7RUFDQSxvQkFBQTtBZHNrQkY7QWNya0JFO0VBRUUsY2J4Q2tCO0FEOG1CdEI7O0FlbG5CQTtFQUNFO0lBQ0UsZ0JBQUE7RWZxbkJGO0FBQ0YiLCJmaWxlIjoic3R5bGUuY3NzIn0= */