%transition {
  transition: all 0.3s;
}

%list-link-style {
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: $color-text-dark;
  font-size: 13px;
  @extend %transition;
  &:hover {
    color: $color-text-light;
    background-color: $color-main;
  }
}
