//vendor
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

//abstracts
@import "./abstracts/constants";
@import "./abstracts/placeholders";

//base
@import "./base/fonts";
@import "./base/base";

//components
@import "./components/header";
@import "./components/navigation";
@import "./components/welcome";
@import "./components/introduce";
@import "./components/more-products";
@import "./components/magazine-free";
@import "./components/img-banner-down";
@import "./components/lifestyle";
@import "./components/subscribe";
@import "./components/link-list";
@import "./components/footer";
//media
@import "./media/containers";
