@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
.social-link-list a, .navigation__list-header a {
  transition: all 0.3s;
}

.social-link-list a, .navigation__list-header a {
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: #1d1f2e;
  font-size: 13px;
}
.social-link-list a:hover, .navigation__list-header a:hover {
  color: #ffffff;
  background-color: #050827;
}

@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla Regular.eot");
  src: url("../fonts/Karla Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Karla Regular.woff2") format("woff2"), url("../fonts/Karla Regular.woff") format("woff"), url("../fonts/Karla Regular.ttf") format("truetype"), url("../fonts/Karla Regular.svg#Karla Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}
body {
  font-family: "Karla", Verdana, Tahoma, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 47px;
  line-height: 60px;
  color: #ffffff;
}

.h2 {
  font-size: 28px;
  line-height: 40px;
  color: #1d1f2e;
}

.h3 {
  display: block;
  text-align: center;
  margin-bottom: 100px;
  font-size: 13px;
  text-transform: uppercase;
  color: #1d1f2e;
  line-height: 18px;
  letter-spacing: 2px;
}
.h3::after, .h3::before {
  content: "";
  display: inline-block;
  height: 1px;
  background-color: #ececed;
  width: 30px;
}
.h3::after {
  margin: 0 0 3px 15px;
}
.h3::before {
  margin: 0 15px 3px 0;
}

.h4 {
  color: #1d1f2e;
  padding-top: 35px;
  font-size: 20px;
  line-height: 30px;
}

p {
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
}

.button {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1f2e;
  background-color: #ffffff;
  border: none;
  outline: none;
  box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
  transition: all 0.3s;
  border: 1px solid transparent;
}
.button:hover {
  background-color: #050827;
  color: #ffffff;
  border: 1px solid #a25f4b;
}
.button:active {
  color: #a25f4b;
  background-color: #ffffff;
}

.cost {
  color: rgba(29, 31, 46, 0.7);
  font-size: 16px;
  line-height: 28px;
}

.new-cost {
  font-size: 19px;
  line-height: 32px;
  color: #a25f4b;
}

.strikethrough {
  text-decoration: line-through;
  color: rgba(29, 31, 46, 0.4);
}

section {
  padding: 50px 0 50px 0;
}

.header {
  padding-top: 28px;
  padding-bottom: 28px;
}

.cart {
  display: flex;
  max-width: 92px;
  justify-content: space-between;
}

.navigation__list-header {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}
@media (max-width: 992px) {
  .navigation__list-header {
    display: none;
    flex-direction: column;
    background-color: red;
    gap: 10px;
  }
}
.welcome {
  padding: 0;
  min-height: 530px;
  background-color: #050827;
  color: #ffffff;
  background-image: url("../../img/banners/banner-top.jpeg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 60%;
}
.welcome p {
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
}

.introduce {
  padding-top: 123px;
}

.introduce__link {
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  border-bottom: 2px solid #a25f4b;
  color: #a25f4b;
  transition: all 0.3s;
}
.introduce__link:hover {
  color: #050827;
  border-bottom: 2px solid #050827;
}
.introduce__link:active {
  color: #a25f4b;
  border-bottom: 2px solid #a25f4b;
}

.magazine-free {
  padding-bottom: 130px;
}

.magazine-free__subtitle {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1f2e;
}

.magazine-free__title {
  font-size: 36px;
  line-height: 50px;
  color: #1d1f2e;
}

.magazine-free__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 173px;
  height: 36px;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s;
  text-decoration: none;
  background-color: #1d1f2e;
  color: #ffffff;
  border: 1px solid #1d1f2e;
}
.magazine-free__link:hover {
  background-color: #ffffff;
  color: #1d1f2e;
}
.magazine-free__link:active {
  background-color: #1d1f2e;
  color: #ffffff;
}

.banner-down {
  min-height: 340px;
  background-image: url("../../img/banners/banner-down.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lifestyle {
  padding-top: 100px;
  padding-bottom: 152px;
}

.lifestyle__title {
  display: block;
  margin-bottom: 10px;
  padding-top: 28px;
  font-size: 20px;
  line-height: 32px;
  color: #1d1f2e;
}

.lifestyle__description {
  display: block;
  margin-bottom: 16px;
}

.lifestyle__date {
  display: block;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1f2e;
}

.subscribe {
  padding: 0;
  min-height: 327px;
  background-color: #050827;
  color: #ffffff;
}
.subscribe .h3 {
  color: #ffffff;
  margin-bottom: 15px;
}
.subscribe .h3::after, .subscribe .h3::before {
  background-color: rgba(210, 210, 213, 0.1);
}
.subscribe__subtitle {
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 50px;
  color: #ffffff;
}
.subscribe__form {
  height: 54px;
}
@media (max-width: 768px) {
  .subscribe__form {
    height: 110px;
  }
}
.subscribe__input {
  font-size: 18px;
  color: #ffffff;
  background-color: #050827;
  text-align: center;
  border: 1px solid #2f303e;
  outline: none;
}
.subscribe__input::placeholder {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.2901960784);
}
.subscribe__input:focus-visible {
  border: 1px solid #a25f4b;
}

.social-link-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-link-list a {
  color: rgba(29, 31, 46, 0.7);
}

.footer {
  padding: 100px 0 48px 0;
}

.footer-mini-title {
  display: block;
  margin-bottom: 22px;
  padding: 5px 10px 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: #1d1f2e;
  letter-spacing: 2px;
}

@media (min-width: 1440px) {
  .container {
    max-width: 940px;
  }
}

/*# sourceMappingURL=style.css.map */
