.footer {
  padding: 100px 0 48px 0;
  @media (max-width: 767px) {
    padding: 50px 0 25px 0;
  }
}

.footer-mini-title {
  display: block;
  margin-bottom: 22px;
  padding: 5px 10px 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: $color-text-dark;
  letter-spacing: 2px;
  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.logo-footer {
  max-width: 111px;
  margin-bottom: 22px;
  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.add-info {
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.3);
}

.footer-link {
  display: block;
  font-size: 23px;
  line-height: 36px;
  color: $color-text-dark;
  text-decoration: none;
  transition: all 0.3s;
  &:hover,
  &:focus {
    color: $color-text-new-cost;
  }
}
