.banner-down {
  min-height: 340px;
  background-image: url("../img/banners/banner-down.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media (max-width: 991px) {
    min-height: 200px;
  }
  @media (max-width: 767px) {
    min-height: 150px;
  }
}
