.lifestyle {
  padding-top: 100px;
  padding-bottom: 152px;
  @media (max-width: 767px) {
    padding: 75px 0 25px 0;
  }
}

.lifestyle__title {
  display: block;
  margin-bottom: 10px;
  padding-top: 28px;
  font-size: 20px;
  line-height: 32px;
  color: $color-text-dark;
  @media (max-width: 991px) {
    font-size: 18px;
  }
  @media (max-width: 767px) {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 5px;
  }
}

.lifestyle__description {
  display: block;
  font-size: 16px;
  margin-bottom: 16px;
  @media (max-width: 991px) {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

.lifestyle__date {
  display: block;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color-text-dark;
}
