.navigation {
  & > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    & a {
      @extend %list-link-style;
    }
  }
  &__list-header {
    gap: 30px;
    @media (max-width: 576px) {
      flex-direction: column;
      gap: 10px;
      display: none;
    }
  }
  &__list-footer {
    flex-direction: column;
    gap: 10px;
  }
}
