.navigation__list-header {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
  @media (max-width: 992px) {
    display: none;
    flex-direction: column;
    background-color: red;
    gap: 10px;
  }
  & a {
    @extend %list-link-style;
  }
}
