.navigation-header {
  @media (max-width: 992px) {
    display: none;
  }
}

.navigation-footer {
  // @media (max-width: 992px) {
  //   display: none;
  // }
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  & a {
    @extend %list-link-style;
  }
}

.nav-list-header {
  gap: 30px;
  @media (max-width: 992px) {
    flex-direction: column;
    gap: 10px;
  }
}

.nav-list-footer {
  flex-direction: column;
  & a {
    color: $colot-text-paragraph;
  }
}
