.subscribe {
  padding: 0;
  min-height: 327px;
  background-color: $color-main;
  color: $color-text-light;
  & .h3 {
    color: $color-text-light;
    margin-bottom: 15px;
    &::after,
    &::before {
      background-color: rgba(210, 210, 213, 0.1);
    }
  }
  &__subtitle {
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 50px;
    color: $color-text-light;
  }
  &__form {
    height: 54px;
    @media (max-width: 768px) {
      height: 110px;
    }
  }
  &__input {
    font-size: 18px;
    color: $color-text-light;
    background-color: $color-main;
    text-align: center;
    border: 1px solid #2f303e;
    outline: none;
    &::placeholder {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #ffffff4a;
    }
    &:focus-visible {
      border: 1px solid $color-text-new-cost;
    }
  }
}
