.welcome {
  padding: 0;
  min-height: 530px;
  background-color: $color-main;
  color: $color-text-light;
  background-image: url("../../img/banners/banner-top.jpeg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 1000px;
  & p {
    font-size: 17px;
    line-height: 30px;
    color: $color-text-light;
  }
  &__subtitle {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  @media (max-width: 767px) {
    min-height: 430px;
    background-size: 900px;
  }
}
