body {
  font-family: "Karla", Verdana, Tahoma, sans-serif;
  font-weight: 400;
}

.h3 {
  display: block;
  text-align: center;
  margin-bottom: 100px;
  font-size: 13px;
  text-transform: uppercase;
  color: $color-text-dark;
  line-height: 18px;
  letter-spacing: 2px;
  &::after,
  &::before {
    content: "";
    display: inline-block;
    height: 1px;
    background-color: #ececed;
    width: 30px;
  }
  &::after {
    margin: 0 0 3px 15px;
  }
  &::before {
    margin: 0 15px 3px 0;
  }
}

.h4 {
  color: $color-text-dark;
  padding-top: 35px;
  font-size: 20px;
  line-height: 30px;
}

.cost {
  color: $colot-text-paragraph;
  font-size: 16px;
  line-height: 28px;
}

.new-cost {
  font-size: 19px;
  line-height: 32px;
  color: $color-text-new-cost;
}

.strikethrough {
  text-decoration: line-through;
  color: $color-text-line-through;
}

section {
  padding: 50px 0 50px 0;
}
