body {
  font-family: "Karla", Verdana, Tahoma, sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 47px;
  line-height: 60px;
  color: $color-text-light;
}

.h2 {
  font-size: 28px;
  line-height: 40px;
  color: $color-text-dark;
}

.h3 {
  display: block;
  text-align: center;
  margin-bottom: 100px;
  font-size: 13px;
  text-transform: uppercase;
  color: $color-text-dark;
  line-height: 18px;
  letter-spacing: 2px;
  &::after,
  &::before {
    content: "";
    display: inline-block;
    height: 1px;
    background-color: #ececed;
    width: 30px;
  }
  &::after {
    margin: 0 0 3px 15px;
  }
  &::before {
    margin: 0 15px 3px 0;
  }
  @media (max-width: 767px) {
    margin-bottom: 35px;
  }
  @media (max-width: 576px) {
    &::after {
      margin: 0 0 3px 5px;
    }
    &::before {
      margin: 0 5px 3px 0;
    }
  }
}

.h4 {
  color: $color-text-dark;
  padding-top: 35px;
  font-size: 20px;
  line-height: 30px;
  @media (max-width: 767px) {
    padding-top: 10px;
  }
}

p {
  font-size: 16px;
  line-height: 28px;
  color: $colot-text-paragraph;
}

.button {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color-text-dark;
  background-color: #ffffff;
  border: none;
  outline: none;
  box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
  transition: all 0.3s;
  border: 1px solid transparent;
  &:hover {
    background-color: $color-main;
    color: $color-text-light;
    border: 1px solid $color-text-new-cost;
  }
  &:active {
    color: $color-text-new-cost;
    background-color: #ffffff;
  }
}

.cost {
  color: $colot-text-paragraph;
  font-size: 16px;
  line-height: 28px;
}

.new-cost {
  font-size: 19px;
  line-height: 32px;
  color: $color-text-new-cost;
}

.strikethrough {
  text-decoration: line-through;
  color: $color-text-line-through;
}

section {
  padding: 50px 0 50px 0;
  @media (max-width: 767px) {
    padding: 25px 0 25px 0;
  }
}
